<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/3576c916-2229-4fcb-b48f-f4eef0a9afe7/resourcegroups/WebApiSonda10/providers/Microsoft.Web/sites/comDataapi20200211044041</ResourceId>
    <ResourceGroup>WebApiSonda10</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://comdataapi20200211044041.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>comdataapi20200211044041.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>comDataapi20200211044041</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <InstallAspNetCoreSiteExtension>False</InstallAspNetCoreSiteExtension>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$comDataapi20200211044041</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="AplicationDbContext" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:comdataapi20200211044041dbserver.database.windows.net,1433;Initial Catalog=comDataapi20200211044041_db123456;User ID=sonda123456@comdataapi20200211044041dbserver;Password=c0mD4t41234556" Name="Data Source=tcp:comdataapi20200211044041dbserver.database.windows.net,1433;Initial Catalog=comDataapi20200211044041_db123456;User Id=sonda123456@comdataapi20200211044041dbserver;Password=c0mD4t41234556" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=192.168.66.128;Initial Catalog=comData;Integrated Security=False;User ID=comDataUser;Password=comDataUser123" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\AplicationDbContext_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=192.168.66.128;Initial Catalog=comData;user id=comDataUser;password=comDataUser123; Integrated Security=false" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
    <PrecompileBeforePublish>True</PrecompileBeforePublish>
    <EnableUpdateable>True</EnableUpdateable>
    <DebugSymbols>False</DebugSymbols>
    <WDPMergeOption>DonotMerge</WDPMergeOption>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="AplicationDbContext-Web.config Connection String">
      <ParameterValue>Data Source=tcp:comdataapi20200211044041dbserver.database.windows.net,1433;Initial Catalog=comDataapi20200211044041_db123456;User Id=sonda123456@comdataapi20200211044041dbserver;Password=c0mD4t41234556</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>