@{
    ViewBag.Title = "mantenimiento-cliente";
}

<div id="mantenimiento-cliente">
    <div class="page-header page-header-light">
        <div class="d-flex justify-content-end">
            <a class="waves-effect waves-dark mr-2"  title="Agregar">
                <i class="ti-plus font-20"></i>
            </a>

        </div>

    </div>
    <div class="content">
        <div class="card">
            <div class="card-header bg-light header-elements-inline">
                <h5 class="card-title">Búsqueda avanzada</h5>

            </div>
            <div class="card-body" id="id_cb_busqueda_avanzada">
                <form name="frm_busquedaCliente">
                    <div class="row form-group align-items-end">
                        <div class="col-md-3">
                            <label>Tipo Cliente:</label>
                            <select class="custom-select" [(ngmodel)]="tipoCliente.id" name="id">
                                <option value="" selected>Todos</option>                               
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="d-flex justify-content-end">
                                <button id="btn_limpiar" type="reset" class="btn btn-light">
                                    Limpiar
                                    <i class="icon-eraser3 ml-2"></i>
                                </button>
                                <button id="btn_buscar" type="button" class="btn btn-primary ml-3">
                                    Buscar
                                    <i class="icon-search4 ml-2"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <table id="tbl_mostrarUsuario" class="table datatable-basic">
                    <thead class="bg-primary">
                    <th>Id </th>
                    <th>Nombre </th>
                    <th>Apellido Paterno </th>
                    <th>Apellido Materno</th>
                    <th>Tipo Cliente </th>
                    <th class="text-center">Acciones</th>
                    </thead>
                </table>
            </div>
        </div>
    </div>
</div>
<div class="modal p-form fade" id="mdl_ActualizarUsuario" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-notify modal-warning" role="document">
        <div class="modal-content">
            <div class="modal-header bg-primary text-center">
                <h5 id="CabeceraModal" class="modal-title"></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    x
                </button>
            </div>
            <form id="frm_MostrarRegistroUsuario">
                <div class="modal-body form-group">
                    <input type="hidden" id="ih_id_usuario">
                    <div class="row form-group ">
                        <label class="col-form-label col-md-4" for="ApellidoPaterno">Apellido Paterno: <span>(*)</span></label>
                        <div class="form-group col-md-8">
                            <input type="text" name="ApellidoPaterno" class="form-control" maxlength="50" required>
                        </div>
                    </div>
                    <div class="row form-group ">
                        <label class="col-form-label col-md-4" for="txt_user_name_MRU">Apellido Materno: <span>(*)</span></label>
                        <div class="form-group col-md-8">
                            <input type="text"  name="ApellidoMaterno" class="form-control" maxlength="50" required>
                        </div>
                    </div>
                    <div class="row form-group ">
                        <label class="col-form-label col-md-4" for="txt_user_name_MRU">Nombre: <span>(*)</span></label>
                        <div class="form-group col-md-8">
                            <input type="text"  name="Nombre" class="form-control" maxlength="50" required>
                        </div>
                    </div>
                    <div class="row form-group">
                        <label class="col-form-label col-md-4" for="txt_user_name_MRU">Tipo Cliente: <span>(*)</span></label>
                        <div class="col-md-8">
                            <select class="form-control custom-select" [(ngmodel)]="cliente.tipoClienteId" name="TipoClienteId" required>
                                <option value="" selected>Seleccione</option>                               
                            </select>
                        </div>
                    </div>
                </div>
            </form>
            <div class="modal-footer">
                <button id="btn_cerrar_MRU" type="button" class="btn text-primary ml-3" data-dismiss="modal">
                    Cerrar
                </button>
                <button id="btn_guardar_MRU" type="button" class="btn bg-primary">
                    Guardar
                </button>
            </div>
        </div>
    </div>

</div>

<div class="modal p-form fade" id="mdl_ActualizarUsuario" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-notify modal-warning" role="document">
        <div class="modal-content">
            <div class="modal-header bg-primary text-center">
                <h5 id="CabeceraModal" class="modal-title">Confirmación de eliminación</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="modal.dismiss('Cross click')">
                    x
                </button>
            </div>
            <form id="frm_MostrarRegistroUsuario">
                <div class="modal-body form-group">
                    <p>¿Desea eliminar el registro?</p>
                </div>
            </form>
            <div class="modal-footer">
                <button id="btn_cerrar_MRU" type="button" class="btn text-primary ml-3" data-dismiss="modal">
                    Cerrar
                </button>
                <button id="btn_guardar_MRU" type="button" class="btn bg-primary">
                    Guardar
                </button>
            </div>
        </div>
    </div>

</div>

